images/svg_to_png.py
images-png/svg_converter.html
.claude/settings.local.json
project.private.config.json
project.config.json
./spec-workflow/*.*
.spec-workflow/templates/design-template.md
.spec-workflow/templates/product-template.md
.spec-workflow/templates/requirements-template.md
.spec-workflow/templates/structure-template.md
.spec-workflow/templates/tasks-template.md
.spec-workflow/templates/tech-template.md
.gitignore
.spec-workflow/config.example.toml
templates/task_templates_6_9_years.json
templates/task_templates_3_6_years.json
templates/task_templates_3_6_years.json
templates/task_templates_3_6_years.json
templates/task_templates_3_6_years.json
templates/task_templates_6_9_years.json
templates/task_templates_6_9_years.json
templates/database_export-任务.json
templates/task_templates_3_6_years-jsonl.json
templates/task_templates_3_6_years-jsonl.json
templates/task_templates_3_6_years.json
templates/task_templates_3_6_years-jsonl.json
templates/task_templates_6_9_years-jsonl.json
